//Dev: Caique Sousa
@charset "utf-8";

//variaveis
$home-color:#6A5ACD;
$text-home:#ADD8E6;
$contact-color:#778899;
$text-menu-color:#D7E2EF;
$Robo: 'Roboto', sans-serif;
$color-btn: #483D8B	;
$color-btn-active:#191970;
$margin-btn:.4em;
$padding-btn:.5em;